@value height: 50px;
@value font-size: 2em;

.base {
    display: flex;
    flex-flow: row wrap;

    > * {
        height: height;
        line-height: height;
    }
}

.title {
    text-align: center;
    flex-grow: 1;
    margin: 0;
    font-size: font-size;
}
