@value height: 50px;
@value font-size: 2em;

.base {
	position: relative;
	box-shadow: 0 1px 4px -2px black;

    > * {
        height: height;
        line-height: height;
    }
}

.title {
    text-align: center;
    font-size: font-size;
	width: 100%;
	margin: 0;
}

.button {
	padding: 0 20px;
}

.left {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
}

.right {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
}
