{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "globalReturn": true,
    "jsx": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true
  },
  "rules": {
    "array-bracket-spacing": [2, "always", { "singleValue": true, "objectsInArrays": true, "arraysInArrays": true }],
    "block-scoped-var": 2,
    "brace-style": [2, "stroustrup"],
    "comma-dangle": [2, "never"],
    "comma-spacing": [2, { "before": false, "after": true }],
    "comma-style": [2, "last"],
    "computed-property-spacing": [2, "never"],
    "consistent-return": 1,
    "curly": [2, "all"],
    "eol-last": 2,
    "func-style": 0,
    "guard-for-in": 2,
    "indent": [2, "tab", {"SwitchCase": 1}],
    "jsx-quotes": [1, "prefer-double"],
    "no-else-return": 2,
    "no-extra-semi": 2,
    "no-floating-decimal": 2,
    "no-irregular-whitespace": 2,
    "no-mixed-requires": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-multi-spaces": 2,
    "no-multiple-empty-lines": [ 2, { "max": 1 } ],
    "no-spaced-func": 2,
    "no-trailing-spaces": 2,
    "no-undef": 2,
    "no-underscore-dangle": 0,
    "no-unexpected-multiline": 2,
    "no-unused-expressions": 1,
    "no-unused-vars": [2, { "vars": "all", "args": "after-used" }],
    "object-curly-spacing": [2, "always", { "objectsInObjects": true, "arraysInObjects": true }],
    "operator-linebreak": [2, "after"],
    "quotes": [1, "single"],
    "radix": 2,
    "react/display-name": 0,
    "react/jsx-boolean-value": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 1,
    "react/no-unknown-property": 1,
    "react/prop-types": 0,
    "react/self-closing-comp": 1,
    "react/wrap-multilines": 1,
    "semi": [2, "always"],
    "semi-spacing": [2, { "before": false, "after": true }],
    "space-after-keywords": [2, "always"],
    "space-before-blocks": 2,
    "space-before-function-paren": [2, { "anonymous": "always", "named": "always" }],
    "space-in-parens": [2, "never"],
    "spaced-comment": [2, "always", { "exceptions": ["-"] }],
    "strict": 0,
    "vars-on-top": 2,
    "wrap-iife": [2, "inside"]
  }
}
