@value medium from "../../styles/breakpoints.css";
@value grid-spacing: 10px;

.grid {
    padding: grid-spacing;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    margin: grid-spacing;
    flex-direction: row;
    width: 100%;
}

@media medium {
    .tile {
        width: calc(50% - (grid-spacing * 2));
    }
}
