$margin: 1%;
$max-pos: calc(100% - $margin);
$height-ratio: 0.85;

.base {
    transition: background 1s ease-in-out;
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    clip-path: polygon(
        25% $margin,
        75% $margin,
        $max-pos 50%,
        75% $max-pos,
        25% $max-pos,
        $margin 50%);

    &::after {
        content: '';
        display: block;
        padding-bottom: calc(100% * $height-ratio);
    }
}

.content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: inherit;
}
