@value purple from '../../styles/colours.css';
@value bottom-padding: 10px;

.base {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;

    &::after {
        content: '';
        display: block;
        padding-bottom: 60%;
    }
}

.content {
    position: absolute;
    bottom: 0;
    padding: @value bottom-padding;
    color: purple;
}
