
.base {}

.row {
    width: 100%;
    position: relative;
    pointer-events: none;
}

.row::after {
    content: '';
    display: table;
    clear: both;
}

.row * {
    float: left;
    pointer-events: all;
}

.even {
    position: absolute;
}
