
.base {
    width: 100%;
    position:relative;
    pointer-events: none;
}

.base::after {
    content: '';
    display: table;
    clear: both;
}

.base * {
    float: left;
    pointer-events: all;
}

.even {
    position: absolute;
}
