
.base {
    display: flex;
}

.inner {
    flex-grow: 1;
}

.horizontal {
    composes: base;
    flex-flow: row wrap;
}

.vertical {
    composes: base;
    height: 100%;
    flex-flow: column wrap;
}
